<div class = "container">
  <h1>Stupid coaching</h1>
  <div class="card">
  <%= @question %>
  <p>-you</p>
  </div>

  <div class="card">
  <%= @answer %>
  <p>your coach</p>
  </div>

  <%= link_to 'Go back', "/ask" %>
</div>
